@import url('reset.css');
body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    background-color: lightgrey;
    color: #343a40;
}

form {
    margin-bottom: 20px;
}

form label {
    font-weight: bold;
    margin-right: 10px;
}

form input,
form textarea {
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ced4da;
    border-radius: 7px;
}

form button {
    padding: 10px 15px;
    background-color: cornflowerblue;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}

#todoItems {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.taskWrapper {
    border: 1px solid yellow;
    padding: 10px;
    border-radius: 5px;
    background-color: lightyellow;
}

.taskHeading {
    font-weight: bold;
    margin-bottom: 5px;
}

.taskDescription {
    margin-bottom: 10px;
}

.btn-danger {
    color: #fff;
    background-color: darkred;
    cursor: pointer;
}

.btn-danger:hover {
    background-color: #c9302c;
}
